.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.header__logo {
  height: 4rem;
  width: 4rem;
  margin-right: 1rem;
  color: rgb(114, 0, 114);
}
.header__title {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: rgb(114, 0, 114);
  margin: 0;
}
