.textinput {
  margin-top: 2rem;
  width: 90%;
  position: relative;
}
.textinput__input {
  background: #fff;
  border-radius: 10px;
  width: 100%;
  display: block;
  margin: 0 auto;
  height: 5rem;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 2rem;
}
.textinput__input--focused {
  border: 2px solid var(--purple-primary);
}
svg.textinput__icon {
  width: 3rem;
  height: 3rem;
  color: var(--purple-primary);
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}
